.btn-merge {
  border: 0.0625rem solid #F48220 !important;
  color: #f48220 !important;
  background-color: #fff !important;
}

.btn-merge:focus {
  border: 0.0625rem solid #F48220 !important;
  color: #f48220 !important;
  background-color: #fff !important;
  box-shadow: 0 0 0 0 #f48220;
}

.login__table {
  margin: 2.875rem 0 0 1.5rem;
}

@media (max-width: 400px) {
  .login__table {
    margin: 1.75rem 0 0;
  }
}

.login__table-header th {
  color: #817F7E;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  padding: 0.875rem 0;
}

@media (max-width: 991px) {
  .login__table-header th {
    font-size: 0.75rem;
  }
}

.login__table-main td {
  padding: 1.25rem 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: #464544;
  border: none;
}

@media (max-width: 991px) {
  .login__table-main td {
    font-size: 0.75rem;
  }
}

@media (max-width: 400px) {
  .login__table-main td {
    font-size: 0.625rem;
  }
}

.login__table-main tr {
  border-bottom: 0.0625rem solid #817f7e;
}

.table__btn-more {
  border: none;
  margin: 0 !important;
}

.table__btn-more li {
  width: 2.25rem;
  height: 2.25rem;
}

.table__btn-more .dropdown-toggle::after {
  display: none;
}

.table__btn-more img {
  transform: rotate(90deg);
  width: 1.25rem;
  margin: 0 0.5rem 0 0;
}

.table__btn-more a {
  align-items: center;
  justify-content: center;
}

.table__btn-more a:hover {
  border: none;
  background-color: inherit;
}

.table__btn-more a:focus {
  border: none;
  background-color: inherit;
}

.nav-tabs .nav-item.show .nav-link {
  border: none !important;
  background-color: #EAE9E9 !important;
  border-radius: 1rem !important;
}

.table-responsive {
  overflow: inherit;
  padding-right: 1.75rem;
}

@media (max-width: 400px) {
  .table-responsive {
    padding-right: 0;
  }
}

.table__more-menu {
  min-width: 96px !important;
  transform: translate(-5rem,-0.625rem) !important;
  border-radius: 0.5rem !important;
  box-shadow: 0px 0.25rem 0.375rem 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.08);
}

.table__btn-item:hover {
  color: #f48220;
  background-color: #FAFAFA !important;
  border-bottom: 0.0625rem solid #D8D6D5 !important;
  border-radius: 0 0 0.5rem 0.5rem !important;
}

.table__btn-item:first-child {
  border-bottom: 0.0625rem solid #D8D6D5;
}

.table__btn-item:first-child:hover {
  border-bottom: 0.0625rem solid #D8D6D5 !important;
  border-radius: 0.5rem 0.5rem 0 0 !important;
}

.table__btn-item {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  padding: 0.5rem 1rem !important;
  color: #464544;
}

.table__credentials-wrap {
  padding-left: 1.5rem;
}

@media (max-width: 991px) {
  .table__credentials-wrap {
    padding-left: 0.5rem;
  }
}

@media (max-width: 400px) {
  .table__credentials-wrap {
    padding-left: 0.25rem;
  }
}

.table__credentials-info {
  color: #2F2E2D;
  cursor: pointer;
}

.table__credentials-info:hover {
  color: #f48220;
}

.table__credentials-tooltip {
  position: absolute;
  color: #ffffff;
  top: -2.875rem;
  left: 4.5rem;
  background-image: url(../../assets/img/Tooltip.png);
  padding: 0.75rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.875rem;
  font-size: 0.75rem;
  font-weight: 400;
}

.table__credentials-info:hover + .table__credentials-tooltip {
  display: block !important;
}

.table__credentials-password.active {
  display: block !important;
  border: none;
  background: inherit;
}

.modal__text.text-revoke {
  max-width: 20.25rem;
}

.modal__btn-revoke {
  background-color: #ee3a3a;
  border: 0.0625rem solid #ee3a3a;
}

.modal__btn-revoke:hover {
  background-color: #a22c2c !important;
  border: 0.0625rem solid #ee3a3a;
  color: #ffffff !important;
}

.modal__btn-revoke:active {
  background-color: #a22c2c !important;
  border: 0.0625rem solid #ee3a3a;
  color: #ffffff !important;
}

.modal__btn-revoke:focus {
  background-color: #a22c2c !important;
  border: 0.0625rem solid #ee3a3a;
  color: #ffffff !important;
  box-shadow: none !important;
}

.modal__edit-password {
  padding-left: 0.5rem !important;
}

.modal__text.modal__merge-text {
  max-width: 19.8125rem;
}

.merge__account-info {
  background-color: #eae9e9;
  border-radius: 1rem;
  padding: 0.25rem 1rem 0.25rem 2.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

@media (max-width: 991px) {
  .merge__account-info {
    font-size: 0.75rem;
  }
}

.merge__account-info:before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.0625rem;
  top: 0.375rem;
  left: 0.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/img/icon_email_24.svg);
}

@media (max-width: 991px) {
  .login__table-main img {
    width: 1.75rem;
  }
}

@media (max-width: 400px) {
  .login__table-main img {
    width: 1.125rem;
  }
}

.table__btn-more .dropdown-toggle {
  display: flex !important;
}

